################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ModelTool_CSharp/obj/Debug
/.vs/ModelTool_CSharp/v16
